body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
}

.box-parent {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 600px;
    height: 500px;
    border: 2px solid red;
}

.horizontal-line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
    height: 2px;
    background-color: blue;
}

.vertical-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 500px;
    background-color: black;
}

.small-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 200px;
    height: 200px;
    border: 2px solid green;
    cursor: pointer;
    z-index: 1;
    /* transition: all 0.5s ease-in; */
    animation: 3s linear 1s infinite rotation;
}

/* .small-box:hover {
    transform: translate(-50%, -50%) rotate(90deg);
} */

/* -------------- Keyframe ----------------- */
@keyframes rotation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    /* 50% {
        transform: translate(-50%, -50%) rotate(20deg);
    } */
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


